# Teste

In [3]:
print("ok");

ok

## Data table

In [6]:
import pandas as pd

# Mostrar tabela

In [56]:
df = pd.read_csv("iris_com_na.csv")


df.to_csv('iris_com_na.csv', # Nome do arquivo de saída
 sep=',', # Separador de colunas
 index=False, # Não salvar o índice como coluna
 encoding='utf-8', # Codificação do arquivo
 quotechar='"', # Delimitador de strings
 na_rep='NA', # Como representar valores NaN

)
df.head()

   1  4.9    ?  ?.1  0.2  Setosa
0  2  4.7  3.2    ?  0.2  Setosa
1  3  4.6    ?  1.5  0.2  Setosa
2  4    ?  3.6  1.4  0.2  Setosa
3  5  5.4  3.9  1.7  0.4  Setosa
4  6  4.6  3.4  1.4  0.3  Setosa

# Exibir quantidade de colunas e linhas

In [18]:
linhas, colunas = df.shape

print(linhas, colunas)

150 6

# Acessar última linha

In [22]:
df.iloc[-1]

id                    149
sepal.length            ?
sepal.width           3.0
petal.length          5.1
petal.width           1.8
variety         Virginica
Name: 149, dtype: object

In [31]:
df = pd.DataFrame({
 'nome': ['João','Maria','Ana'],
 'idade': [30,25,28]
}, index=['a','b','c'])

print(df)

    nome  idade
a   João     30
b  Maria     25
c    Ana     28

In [35]:
df.loc["b"] #acessa - Índice e colunas com nomes

SyntaxError: invalid syntax (3668621352.py, line 1)

In [ ]:
df.iloc[